<head>
  <title> Login</title>
  <style>
    .card-header {
      background-color: rgb(57, 115, 182);
      color: white;
    }

    .card-footer {
      background-color: rgb(57, 115, 182);
      color: white;
    }
  </style>
</head>

<body class="container">
  <div class="card text-center">
    <div class="card-header">
      LOGIN
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="card-body">
        <input type="text" formControlName="name" placeholder="User Name">
        <br>
        <input type="password" formControlName= "password"  placeholder="Password">
      </div>
      <div class="card-footer text-muted">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</body>