<h4>Create a User:</h4>
<div *ngIf="error">
  <hr>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"
        (click)="hideError()">&times;</span></button>
    <strong>Warning!</strong> Error creating User.
  </div>
  <hr>
</div>
<form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
  </div>
  <div class="form-group">
    <label for="category" class="col-sm-2 control-label">UserType</label>
    <div class="col-sm-10">
      <input type="radio" id="customer" value="customer" formControlName="usertype">
      <label for="customer"> Customer</label>
      <br>
      <input type="radio" id="admin" value="admin" formControlName="usertype">
      <label for="admin"> Admin</label>
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="address" formControlName="address">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Create</button>
    </div>
  </div>
</form>